<a href="https://colab.research.google.com/github/chacha86/BigData3/blob/colab/%EC%9B%90%ED%95%AB%EC%9D%B8%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data1 = {
    'City' : ['newyork', 'soeul', 'london', 'tokyo', 'newyork', 'soeul', 'london', 'tokyo', 'newyork', 'soeul', 'london', 'tokyo'], # 범주형 데이터 문자
    # 'City' : [0, 2, 3, 1, 0, 2, 3, 1, 0, 2, 3, 1], # 범주형 데이터 레이블링
    'Sex' : ['M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M'],    
    'Score' : ['L', 'M', 'H', 'L', 'M', 'H','L', 'M', 'H','L', 'M', 'H']
}

df = pd.DataFrame(data1)

def one_hot_encode(col) :
  clen = len(col.unique()) # 범주 데이터의 개수 (== 단위행렬의 크기를 결정)
  rlen = len(col.values)

  eye1 = np.eye(clen) # 해당 컬럼의 범주별 데이터로 원핫인코딩된 행을 얻기 위한 단위행렬

  labeled_data = pd.Series(np.arange(len(col.unique())), index=col.unique()) # 해당 컬럼의 범주를 숫자형으로 레이블링(단위행렬에 적용하기 위함)
  eye_idx = labeled_data[col]  # 레이블된 데이터를 가져옴

  col_list = [] # 컬럼 명을 저장하기 위한 리스트
  for cate_nm in pd.unique(col) :
    col_nm = col.name + '_' + cate_nm # 인코딩된 각 컬럼의 이름 생성
    col_list.append(col_nm)
  
  return pd.DataFrame(eye1[eye_idx], columns=col_list) # 해당 컬럼의 인코딩된 결과 반환
  

for col in df.columns : # 모든 열에 대해서 인코딩 진행
  encoded_df = one_hot_encode(df[col])
  df = pd.concat((df, encoded_df), axis=1)
  df = df.drop(df[col].name, axis=1)

# idx = [0,1,1,2,1,1,0,0,1,3,4]

# arr = np.array([1,2,3,4,5])
# arr[idx]


# one_hot_encode(df['City'])

# 단위행렬

# eye1 = np.eye(3,3)

# city -> 뉴욕, 도쿄, 서울, 런던\
#          1     0     0     0
#          0     0     1     0
#eye1

,City_newyork,City_soeul,City_london,City_tokyo,Sex_M,Sex_F,Score_L,Score_M,Score_H
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
6,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
8,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
11,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0